{{#if form.error}}
<div class="alert alert-danger p-2" role="alert">
    {{{ markdown form.error }}}
</div>
{{/if}}

<input type="hidden" name="validated" id="validated" value="{{ form.isValidated }}">

<div class="mb-3">
    <label for="name" class="form-label">{{{ markdown @root.translation.expenseTemplates.form.name.label }}}</label>
    <input
        type="text"
        autocomplete="off"
        class="form-control form-control-sm{{#if form.isValidated}}{{#if form.name.error}} is-invalid{{else}} is-valid{{/if}}{{/if}}"
        id="name"
        name="name"
        value="{{ form.name.value }}">
    <div class="invalid-feedback">{{{ markdown form.name.error }}}</div>
</div>
<div class="mb-3">
    <label for="shop" class="form-label">{{{ markdown @root.translation.expenseTemplates.form.shop.label }}}</label>
    <input
        type="text"
        autocomplete="off"
        class="form-control form-control-sm{{#if form.isValidated}}{{#if form.shop.error}} is-invalid{{else}} is-valid{{/if}}{{/if}}"
        id="shop"
        name="shop"
        value="{{ form.shop.value }}"
        list="shopOptions">
    <datalist id="shopOptions">
        {{#each form.shop.options}}<option value="{{ this.name }}">{{/each}}
    </datalist>

    <div class="invalid-feedback">{{{ markdown form.shop.error }}}</div>
</div>
<div class="mb-3">
    <label for="tags" class="form-label">{{{ markdown @root.translation.expenseTemplates.form.tags.label }}}</label>
    <div class="input-group">
        <input
            type="text"
            autocomplete="off"
            class="form-control form-control-sm{{#if form.isValidated}}{{#if form.tags.error}} is-invalid{{else}} is-valid{{/if}}{{/if}}"
            list="tagOptions"
            id="tags"
            name="tags"
            value="{{#each form.tags.value}}{{#if @first}}{{ this }}{{/if}}{{/each}}">
        <datalist id="tagOptions">
            {{#each form.tags.options}}<option value="{{ this.name }}">{{/each}}
        </datalist>
        <button class="btn btn-sm btn-outline-secondary rounded-end" type="submit" name="command" value="add-tag">
            {{{ markdown @root.translation.expenseTemplates.form.tags.addMoreButtonLabel }}}
        </button>

        <div class="invalid-feedback">{{{ markdown form.tags.error }}}</div>
    </div>
    <div class="mt-1">
        {{#each form.tags.value}}
        {{#unless @first}}
        <div class="tag-group d-inline-flex flex-row">
            {{#with (lookup @root.form.expenseTagsByName this)}}
            <div class="tag tag-{{ expenseTagColorKey color }} badge rounded-pill">
                {{ name }}
            </div>
            <button type="submit" name="command" value="remove-tag:{{ name }}" class="tag tag-{{ expenseTagColorKey color }} badge rounded-pill btn btn-danger px-2 py-0 border-0 d-flex flex-row align-items-center">
                {{> icons/close-icon height='0.7rem' }}
            </button>
            {{/with}}
        </div>
        {{/unless}}
        {{/each}}

        {{#each form.tags.value}}
        {{#unless @first}}
        <input type="hidden" name="tags" value="{{ this }}">
        {{/unless}}
        {{/each}}
    </div>
</div>
<div class="mb-3">
    <label for="price" class="form-label">{{{ markdown @root.translation.expenseTemplates.form.price.label }}}</label>
    <div class="input-group">
        <input
            type="text"
            autocomplete="off"
            class="form-control form-control-sm currency-input{{#if form.isValidated}}{{#if form.currency.error}} is-invalid{{else}} is-valid{{/if}}{{/if}}"
            id="currency"
            name="currency"
            placeholder="{{ @root.translation.expenseTemplates.form.currency.placeholder }}"
            value="{{ form.currency.value }}"
            list="currencyOptions">
        <datalist id="currencyOptions">
            {{#each form.currency.options}}<option value="{{ this }}">{{/each}}
        </datalist>

        <input type="number" autocomplete="off" lang="" step="any" class="form-control form-control-sm{{#if form.isValidated}}{{#if form.price.error}} is-invalid{{else}} is-valid{{/if}}{{/if}}" id="price" name="price" value="{{ formatFormNumber @root.translation.locale form.price.value }}">

        {{#if form.currency.error }}<div class="invalid-feedback">{{{ markdown form.currency.error }}}</div>{{/if}}
        {{#if form.price.error }}<div class="invalid-feedback">{{{ markdown form.price.error }}}</div>{{/if}}
    </div>
</div>
<div class="mb-3">
    <label for="quantity" class="form-label">{{{ markdown @root.translation.expenseTemplates.form.quantity.label }}}</label>
    <input
        type="number"
        autocomplete="off"
        step="any"
        class="form-control form-control-sm{{#if form.isValidated}}{{#if form.quantity.error}} is-invalid{{else}} is-valid{{/if}}{{/if}}"
        id="quantity"
        name="quantity"
        value="{{ form.quantity.value }}">
    <div class="invalid-feedback">{{{ markdown form.quantity.error }}}</div>
</div>
<div class="mb-3">
    <label for="dayOfMonth" class="form-label">{{{ markdown @root.translation.expenseTemplates.form.dayOfMonth.label }}}</label>
    <input
        type="number"
        min="1"
        max="31"
        autocomplete="off"
        class="form-control form-control-sm{{#if form.isValidated}}{{#if form.dayOfMonth.error}} is-invalid{{else}} is-valid{{/if}}{{/if}}"
        id="dayOfMonth"
        name="dayOfMonth"
        value="{{ form.dayOfMonth.value }}">
    <div class="invalid-feedback">{{{ markdown form.dayOfMonth.error }}}</div>
</div>