<h3>{{{ markdown translation.expenses.add.pageTitle }}}</h3>

{{#if form.error}}
<div class="alert alert-danger p-2" role="alert">
    {{ form.error }}
</div>
{{/if}}

<form method="POST">
    {{> expenses/form}}

    <div class="d-flex flex-row">
        <button type="submit" name="command" value="add" class="btn btn-sm btn-primary">{{{ translation.expenses.add.addButtonLabel }}}</button>
        <a href="/expenses{{#if route.month}}/{{ route.month }}{{/if}}" class="ms-2 btn btn-sm btn-secondary">{{{ translation.expenses.add.cancelButtonLabel }}}</a>
    </div>
</form>