<h3>Log Expense</h3>

{{#if formError}}
<div class="alert alert-danger p-2" role="alert">
  <div>{{ formError }}</div>
</div>
{{/if}}

<form method="POST">
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control form-control-sm{{#if validated}}{{#if form.name.error}} is-invalid{{else}} is-valid{{/if}}{{/if}}" id="name" name="name" value="{{ form.name.value }}">
        <div class="invalid-feedback">{{ form.name.error }}</div>
    </div>
    <div class="mb-3">
        <label for="shop" class="form-label">Shop</label>
        <input type="text" class="form-control form-control-sm{{#if validated}}{{#if form.shop.error}} is-invalid{{else}} is-valid{{/if}}{{/if}}" id="shop" name="shop" value="{{ form.shop.value }}">
        <div class="invalid-feedback">{{ form.shop.error }}</div>
    </div>
    <div class="mb-3">
        <label for="tags" class="form-label">Tags</label>
        <div class="input-group">
            <input type="text" class="form-control form-control-sm{{#if validated}}{{#if form.tags.error}} is-invalid{{else}} is-valid{{/if}}{{/if}}" list="tagOptions" id="tags" name="tags" value="{{#each form.tags.value}}{{#if @first}}{{ this }}{{/if}}{{/each}}">
            <datalist id="tagOptions">
                {{#each previousTags}}
                <option value="{{ this }}">
                {{/each}}
            </datalist>
            <button class="btn btn-sm btn-outline-secondary rounded-end" type="button" onclick="addTag()">Add More</button>

            <div class="invalid-feedback">{{ form.tags.error }}</div>
        </div>
        <div id="tagsContainer" class="mt-1"></div>
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <div class="input-group">
            <input type="text" class="form-control form-control-sm currency-input{{#if validated}}{{#if form.currency.error}} is-invalid{{else}} is-valid{{/if}}{{/if}}" list="currencyOptions" id="currency" name="currency" placeholder="Currency" value="{{ form.currency.value }}">
            <datalist id="currencyOptions">
                {{#each previousCurrencies}}
                <option value="{{ this }}">
                {{/each}}
            </datalist>

            <input type="number" step="any" class="form-control form-control-sm{{#if validated}}{{#if form.price.error}} is-invalid{{else}} is-valid{{/if}}{{/if}}" id="price" name="price" value="{{ form.price.value }}">

            {{#if form.currency.error }}<div class="invalid-feedback">{{ form.currency.error }}</div>{{/if}}
            {{#if form.price.error }}<div class="invalid-feedback">{{ form.price.error }}</div>{{/if}}
        </div>
    </div>
    <div class="mb-3">
        <label for="quantity" class="form-label">Quantity</label>
        <input type="number" step="any" class="form-control form-control-sm{{#if validated}}{{#if form.quantity.error}} is-invalid{{else}} is-valid{{/if}}{{/if}}" id="quantity" name="quantity" value="{{ form.quantity.value }}">
        <div class="invalid-feedback">{{ form.quantity.error }}</div>
    </div>
    <div class="mb-3">
        <label for="date" class="form-label">Date</label>
        <input type="date" class="form-control form-control-sm{{#if validated}}{{#if form.date.error}} is-invalid{{else}} is-valid{{/if}}{{/if}}" id="date" name="date" value="{{ toInputDateValue form.date.value }}">
        <div class="invalid-feedback">{{ form.date.error }}</div>
    </div>

    <div class="d-flex flex-row">
        <button type="submit" class="btn btn-sm btn-primary">Add</button>
        <a href="/expenses{{#if route.month}}/{{ route.month }}{{/if}}" class="ms-2 btn btn-sm btn-secondary">Cancel</a>
    </div>
</form>

<script>
    function addTag(tag) {
        const tagsInputElement = document.getElementById("tags");
        const tagValue = (tag || tagsInputElement.value || "").trim();
        if (tagValue.length > 0) {
            const tagsContainerElement = document.getElementById("tagsContainer");

            const tagElement = document.createElement("div");
            tagElement.className = "badge rounded-pill text-bg-primary me-1 pointer";
            tagElement.innerText = tagValue;

            tagElement.onclick = function () {
                tagsContainerElement.removeChild(tagElement);
                tagsContainerElement.removeChild(input);
            };

            const input = document.createElement("input");
            input.type = "hidden";
            input.name = "tags";
            input.value = tagValue;

            tagsContainerElement.appendChild(input);
            tagsContainerElement.appendChild(tagElement);

            if (!tag)
                tagsInputElement.value = "";
        }
    }

    {{#each form.tags.value}}
        {{#unless @first}}
            addTag("{{ this }}");
        {{/unless}}
    {{/each}}
</script>