<h3>{{{ markdown translation.about.title }}}</h3>

<p>{{{ markdown translation.about.skit }}}</p>

<p>{{{ markdown translation.about.description }}}</p>

<h4>{{{ markdown translation.about.resources.title }}}</h4>
<ul>
    <li>{{{ markdown translation.about.resources.cartoon }}}</li>
</ul>