<h3>{{{ markdown translation.about.title }}}</h3>

<p>{{{ markdown translation.about.skit }}}</p>

<p>{{{ markdown translation.about.description }}}</p>

<p>{{{ markdown translation.about.trackingNotification }}}</p>

<h4>{{{ markdown translation.about.externalResources.title }}}</h4>
<ul>
    {{#each translation.about.externalResources.websites }}
    <li>
        {{{ markdown description }}}
        <ul>
        {{#each resources }}
            <li>{{{ markdown this }}}</li>
        {{/each}}
        </ul>
    </li>
    {{/each}}
</ul>