<h3>{{{ markdown @root.translation.about.title }}}</h3>

<p>{{{ markdown @root.translation.about.skit }}}</p>

<p>{{{ markdown @root.translation.about.description }}}</p>

<p>{{{ markdown @root.translation.about.trackingNotification }}}</p>

<h4>{{{ markdown @root.translation.about.externalResources.title }}}</h4>
<ul>
    {{#each @root.translation.about.externalResources.websites }}
    <li>
        {{{ markdown description }}}
        <ul>
            {{#each resources }}
            <li>{{{ markdown this }}}</li>
            {{/each}}
        </ul>
    </li>
    {{/each}}
</ul>