<div class="mx-4 d-flex flex-row-reverse">
    {{> layouts/app-info class='d-md-none' }}
</div>
<div class="mx-4 mb-4 d-flex flex-row align-items-center">
    <div class="logo mt-md-4">
        {{> icons/logo}}
    </div>

    <div class=" mt-md-4 d-flex flex-fill flex-column ms-3">
        <h1 class="mb-0">{{{ markdown @root.translation.site.title }}}</h1>
        <h5>{{{ markdown @root.translation.site.headerSubtitle }}}</h5>
    </div>

    {{> layouts/app-info class='d-none d-md-block mx-4 align-self-start' }}

    <div class="user d-none d-md-block mt-md-4 p-2">
        <div class="info py-1 px-2 text-end">
            <h3 class="m-0">{{ user.displayName }}</h3>
        </div>
        <form action="/" method="POST" class="btn-group d-flex" role="group">
            <a href="/expenses/add" class="btn btn-light btn-sm">{{{ markdown @root.translation.site.logExpenseButtonLabel }}}</a>
            <button type="submit" name="command" value="end-session" class="btn btn-light btn-sm">{{{ markdown @root.translation.site.logoutButtonLabel }}}</button>
        </form>
    </div>
</div>

<ul class="app-navigation d-none d-md-flex px-4 nav nav-tabs bg-white">
    {{#each tabs}}
    <li class="nav-item">
        <a href="{{ path }}" class="nav-link{{#ifCompare this '===' @root.tab}} active{{/ifCompare}}{{#if disabled}} disabled{{/if}}">
            {{ label }}
        </a>
    </li>
    {{/each}}
</ul>

<nav class="app-navigation d-md-none px-4 sticky-top navbar bg-light">
    <a class="navbar-brand mx-0" href="/">Littlefinger</a>
    <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{#each tabs}}
            {{#ifCompare this '===' @root.tab}}
            {{ label }}
            {{/ifCompare}}
            {{/each}}
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
            <li><span class="dropdown-item text-primary">{{ user.displayName }}</span></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            {{#each tabs}}
            <li>
                <a href="{{ path }}" class="dropdown-item{{#ifCompare this '===' @root.tab}} active{{/ifCompare}}{{#if disabled}} disabled{{/if}}">
                    {{ label }}
                </a>
            </li>
            {{/each}}
            <li>
                <hr class="dropdown-divider">
            </li>
            <li>
                <a href="/expenses/add" class="dropdown-item">
                    {{{ markdown @root.translation.site.logExpenseButtonLabel }}}
                </a>
            </li>
            <li>
                <form action="/" method="POST">
                    <button type="submit" name="command" value="end-session" class="dropdown-item text-danger">{{{ markdown @root.translation.site.logoutButtonLabel }}}</button>
                </form>
            </li>
        </ul>
    </div>
</nav>

<div class="mx-4 mt-3 d-flex flex-column flex-fill text-justify">
    {{> @partial-block }}
</div>

<hr class="w-100 ">
<div class="text-center">
    <div class="pb-3">
        {{{ markdown @root.translation.site.footerSubtitle }}}
    </div>
</div>