<div class="expenses-list-view">
    <div class="expenses-list-header h-auto pb-1">
        {{>expenses/subpageNavigation pageTitle = @root.translation.expenseTags.list.pageTitle}}
    </div>

    {{#if form.error}}
    <div class="alert alert-danger p-2" role="alert">
        {{ markdown form.error }}
    </div>
    {{else}}
    {{#each form.fields}}
    {{#if error}}
    <div class="alert alert-danger p-2" role="alert">
        {{ markdown error }}
    </div>
    {{/if}}
    {{/each}}
    {{/if}}

    {{#unlessCompare expenseTags.length '===' 0}}
    <table class="table table-sticky table-hover mt-2">
        <thead>
            <tr class="expenses-table-header">
                <th>
                    <div>{{ @root.translation.expenseTags.list.columns.name }}</div>
                </th>
                <th colspan="2" class="text-center">
                    <div>{{ @root.translation.expenseTags.list.columns.actions }}</div>
                </th>
            </tr>
        </thead>
        <tbody>
            {{#each expenseTags}}
            <tr {{#unlessOdd @index}} class="table-light" {{/unlessOdd}}>
                <th class="align-middle w-100">
                    <div class="d-flex flex-row align-items-center">
                        {{#if warning}}
                        <div class="text-warning me-2" title="{{ expenseTagWarning @root.translation this.warning }}">{{> icons/exclamation-round-icon height='1.1rem' }}</div>
                        {{else}}
                        {{#ifCompare state '===' 'renaming'}}
                        <div class="text-info me-2" title="{{ @root.translation.expenseTags.states.renaming }}">
                            <div class="spinner-grow spinner-grow-sm"></div>
                        </div>
                        {{else}}
                        {{#ifCompare state '===' 'removing'}}
                        <div class="text-info me-2" title="{{ @root.translation.expenseTags.states.removing }}">
                            <div class="spinner-grow spinner-grow-sm"></div>
                        </div>
                        {{/ifCompare}}
                        {{/ifCompare}}
                        {{/if}}

                        <div class="tag tag-{{ expenseTagColorKey this.color }} fs-6 fw-bold badge rounded-pill">{{ this.name }}</div>
                    </div>
                </th>
                <td class="ps-2 pe-0">
                    <button type="button" class="btn btn-sm btn-primary{{#ifCompare state '!==' 'ready'}} disabled{{/ifCompare}}" data-bs-toggle="modal" data-bs-target="#confirmEditModal{{ @index }}">{{{markdown @root.translation.expenseTags.list.actions.edit}}}</button>

                    <div class="modal fade" id="confirmEditModal{{ @index }}" tabindex="-1" aria-hidden="false">
                        <form class="modal-dialog" method="POST">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5">{{call @root.translation.expenseTags.edit.modal.title name}}</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="mb-3">
                                        <label for="newName" class="form-label">{{{ markdown @root.translation.expenseTags.edit.modal.name.label }}}</label>
                                        <input
                                            type="text"
                                            autocomplete="off"
                                            class="form-control form-control-sm{{#if nameError}}{{#if nameError}} is-invalid{{else}} is-valid{{/if}}{{/if}}"
                                            id="newName"
                                            name="newName"
                                            value="{{ name }}">
                                        <div class="invalid-feedback">{{{ markdown nameError }}}</div>
                                    </div>

                                    <div class="mb-3">
                                        <label for="color" class="form-label">{{{ markdown @root.translation.expenseTags.edit.modal.color.label }}}</label>
                                        <select
                                            type="text"
                                            autocomplete="off"
                                            class="form-select form-select-sm{{#if colorError}}{{#if colorError}} is-invalid{{else}} is-valid{{/if}}{{/if}}"
                                            id="color"
                                            name="color">
                                            {{#each @root.form.color.options}}
                                            <option class="tag-{{ expenseTagColorKey this }}" value="{{ this }}" {{#ifCompare ../color '===' this}} selected{{/ifCompare}}>#{{ expenseTagColorKey this }}</option>
                                            {{/each}}
                                        </select>
                                        <div class="invalid-feedback">{{{ markdown colorError }}}</div>
                                    </div>

                                    {{{markdownBlock @root.translation.expenseTags.edit.modal.message}}}

                                    <input type="hidden" name="initialName" value="{{ name }}">
                                    <input type="hidden" name="etag" value="{{ etag }}">
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" name="command" value="edit" class="btn btn-primary">{{{markdown @root.translation.expenseTags.edit.modal.confirmButtonLabel}}}</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{{markdown @root.translation.expenseTags.edit.modal.cancelButtonLabel}}}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-sm btn-danger{{#ifCompare state '!==' 'ready'}} disabled{{/ifCompare}}" data-bs-toggle="modal" data-bs-target="#confirmRemoveModal{{ @index }}">{{{markdown @root.translation.expenseTags.list.actions.remove}}}</button>

                    <div class="modal fade" id="confirmRemoveModal{{ @index }}" tabindex="-1" aria-hidden="false">
                        <form class="modal-dialog" method="POST">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5">{{call @root.translation.expenseTags.remove.modal.title name}}</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    {{{markdownBlock @root.translation.expenseTags.remove.modal.message}}}

                                    <input type="hidden" name="initialName" value="{{ name }}">
                                    <input type="hidden" name="newName" value="{{ name }}">
                                    <input type="hidden" name="color" value="{{ color }}">
                                    <input type="hidden" name="etag" value="{{ etag }}">
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" name="command" value="remove" class="btn btn-danger">{{{markdown @root.translation.expenseTags.remove.modal.confirmButtonLabel}}}</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{{markdown @root.translation.expenseTags.remove.modal.cancelButtonLabel}}}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}
    <div class="p-2 alert alert-secondary text-center" role="alert">{{{ markdown @root.translation.expenseTags.list.empty }}}</div>
    {{/unlessCompare}}
</div>