<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ translation.site.title }}{{#if title}} - {{ title }}{{/if}}</title>
    <%= htmlWebpackPlugin.tags.headTags %>
</head>

<body dir="ltr" lang="{{ translation.locale }}">
    {{#if user}}
        {{#> layouts/member}}
            {{{ body }}}
        {{/layouts/member}}
    {{else}}
        {{#> layouts/guest}}
            {{{ body }}}
        {{/layouts/guest}}
    {{/if}}

    <%= htmlWebpackPlugin.tags.bodyTags %>
</body>

</html>